.container_sale_list {
  /* background-color: #a5b4fc; */
  background-color: red;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 20px;
}

.btn_sale {
  min-width: 70%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn_sale button {
  background-color: #6a6161;
  max-width: 40%;
  max-height: 80vh;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}
.btn_sale span {
  background-color: #fff;
  max-width: 50%;
  max-height: 25vh;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.btn_sale section {
  background-color: rgb(255, 255, 255);
  height: 100px;


}

.btn_sale p {
  padding: 10px;
}
